<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color:white;
        }
        thead{
            background-color: black;
        }
        th{
            color:yellow;
        }
        </style>
    </head>
    <body>
    <table>
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>fullname</th>
            </tr>
        </thead>
        <tbody>
            {% for i in x %}
            <tr>  
                <td>{{i['first_name']}}</td>
                <td>{{i['last_name']}}</td>
                <td>{{i['first_name']}} {{i['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<html>